<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 rescap">

  <Identity
    Name="CopperStateIntelligence.Installed"
    Publisher="CN=EF287C88-DDD2-4A49-8AC9-E4AE3A998DED"
    Version="0.1.0.0" />

  <Properties>
    <DisplayName>Installed</DisplayName>
    <PublisherDisplayName>Copper State Intelligence</PublisherDisplayName>
    <Logo>Assets\AppLensStore.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$"
      uap10:RuntimeBehavior="packagedClassicApp"
      uap10:TrustLevel="mediumIL">
      <uap:VisualElements
        DisplayName="Installed"
        Description="Local app inventory, storage review, approved uninstall actions, and reports"
        BackgroundColor="#F1F2F4"
        Square150x150Logo="Assets\AppLensSquare150.scale-200.png"
        Square44x44Logo="Assets\AppLensSquare44.scale-200.png">
        <uap:DefaultTile Wide310x150Logo="Assets\AppLensWide.scale-200.png" />
        <uap:SplashScreen Image="Assets\AppLensSplash.scale-200.png" BackgroundColor="#F1F2F4" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
